body{
  background-color: #383838;
  font-family: Roboto;
  color: #fff;
  font-size: 18px;
}


.jumbotron{
	background-color: #2196f3;
	height: 250px;
	position:relative;
}

.jumbotron .container{
position: relative;
top: 100px;
}

.jumbotron h2{
position:absolute;
top: 150px;
left: 100px;

}

.jumbotron p{
position:absolute;
top: 200px;
left: 100px;

}

.row .col-md-6 h3{
text-decoration: underline;

}


.row .col-md-4 p{
	color: #fff;
	
}
.row .col-md-4 h3{
	color: #fff;
}
.row .col-md-4 h2{
	color: #fff;
}
.row .col-md-4 a {
color: #fff;
text-decoration: none;

}

.row .col-md-6 p{
	color: #fff;
	
}
.row .col-md-6 h3{
	color: #fff;
}
.row .col-md-6 h2{
	color: #fff;
}
.row .col-md-6 a {
color: #2196f3;
text-decoration: none;

}
